<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rootcore.auth.mapper.FindIdMapper">

    <select id="findIdByEmail" parameterType="string" resultType="com.rootcore.auth.vo.LoginFindIdVO">
        SELECT
            UM.COMPANY_CODE,
            UM.USER_ID,
            UM.USER_NAME,
            UM.EMAIL
        FROM TB_USER_MASTER UM
        INNER JOIN TB_LOGIN_MASTER LM
            ON UM.COMPANY_CODE = LM.COMPANY_CODE
           AND UM.USER_ID = LM.USER_ID
        WHERE UM.EMAIL = #{email}
    </select>

</mapper>
