<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rootcore.auth.mapper.PasswordResetMapper">

    <!-- 1) USER_ID + EMAIL -->
    <select id="findUserByIdAndEmail" resultType="map">
        SELECT USER_ID,
               EMAIL,
               COMPANY_CODE
        FROM TB_USER_MASTER
        WHERE USER_ID = #{userId}
          AND EMAIL    = #{email}
    </select>

    <!-- 2) 기존 토큰 무효화 -->
    <update id="invalidateOldToken">
        UPDATE TB_PASSWORD_RESET
        SET EXPIRED_DATE = SYSDATE - 1,
            UPDATED_BY   = 'SYSTEM',
            UPDATE_DATE  = SYSDATE
        WHERE USER_ID = #{userId}
    </update>

    <!-- 3) 토큰 저장 -->
    <insert id="insertResetToken">
        INSERT INTO TB_PASSWORD_RESET (
            COMPANY_CODE,
            USER_ID,
            TOKEN_ID,
            TOKEN,
            EXPIRED_DATE,
            CREATED_BY,
            CREATE_DATE
        ) VALUES (
            #{companyCode},
            #{userId},
            SUBSTR(RAWTOHEX(SYS_GUID()), 1, 20),
            #{token},
            SYSDATE + (30/1440),
            'SYSTEM',
            SYSDATE
        )
    </insert>

    <!-- 4) 토큰 조회 -->
    <select id="findValidToken" resultType="map">
        SELECT COMPANY_CODE,
               USER_ID,
               TOKEN_ID,
               TOKEN,
               EXPIRED_DATE
        FROM TB_PASSWORD_RESET
        WHERE TOKEN = #{token}
          AND EXPIRED_DATE > SYSDATE
    </select>

    <!-- 5) 비밀번호 변경 -->
    <update id="updateUserPassword" parameterType="map">
    UPDATE TB_LOGIN_MASTER
    SET PASSWORD = #{password},
        UPDATED_BY = 'SYSTEM',
        UPDATE_DATE = SYSDATE
    WHERE COMPANY_CODE = #{companyCode}
      AND USER_ID = #{userId}
</update>



    <!-- 6) 토큰 만료 -->
    <update id="expireToken">
        UPDATE TB_PASSWORD_RESET
        SET EXPIRED_DATE = SYSDATE - 1,
            UPDATED_BY   = 'SYSTEM',
            UPDATE_DATE  = SYSDATE
        WHERE TOKEN = #{token}
    </update>

</mapper>
