<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rootcore.auth.mapper.SmsAuthMapper">

    <insert id="saveAuthCode">
        MERGE INTO TB_SMS_AUTH A
        USING (SELECT #{companyCode} AS COMPANY_CODE, #{phone} AS PHONE FROM dual) B
        ON (A.PHONE = B.PHONE AND A.COMPANY_CODE = B.COMPANY_CODE)
        WHEN MATCHED THEN
            UPDATE SET
                AUTH_CODE = #{authCode},
                EXPIRE_TIME = SYSTIMESTAMP + (5/1440)
        WHEN NOT MATCHED THEN
            INSERT (COMPANY_CODE, PHONE, AUTH_CODE, EXPIRE_TIME)
            VALUES (#{companyCode}, #{phone}, #{authCode},
                    SYSTIMESTAMP + (5/1440))
    </insert>

    <select id="getValidAuthCode" resultType="string">
        SELECT AUTH_CODE
        FROM TB_SMS_AUTH
        WHERE PHONE = #{phone}
          AND EXPIRE_TIME > SYSTIMESTAMP
    </select>

</mapper>
