<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<title>대시보드</title>
	<!-- general.css -->
	<link th:href="@{/css/general.css}" rel="stylesheet" />
	<link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
	<div layout:fragment="content">

<section class="guest-hero"
         th:if="${session.LOGIN_USER_ID == null}"
         th:style="|background-image:url('/assets/img/background_building.png');|">

  <div class="guest-hero__overlay"></div>

  <div class="guest-hero__inner">
    <div class="guest-hero__card">
      <div class="guest-hero__badge">
        <i class="fa-solid fa-building"></i>
        <span>CoreOne ERP</span>
      </div>

      <h1 class="guest-hero__title">업무의 중심을 한 곳에</h1>

      <p class="guest-hero__desc">
        로그인 후 대시보드에서 인사·근태·평가·증명서를 한 번에 관리할 수 있습니다.<br>
        계속하려면 로그인하거나 구독을 시작해 주세요.
      </p>

      <div class="guest-hero__actions">
        <a class="btn btn-primary btn-lg" href="/auth/login">
          <i class="fa-solid fa-arrow-right-to-bracket me-2"></i> 로그인
        </a>

        <a class="btn btn-outline-light btn-lg" href="/cm/company">
          <i class="fa-solid fa-credit-card me-2"></i> 구독하기
        </a>
      </div>

      <div class="guest-hero__hint">
        <i class="fa-regular fa-circle-question me-2"></i>
        계정이 있으시면 로그인 후 이용 가능합니다.
      </div>
    </div>
  </div>
</section>



		
		
		
		
		
	</div>
</body>

</html>