<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="sidebar">
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column">

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <p>대시보드</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/tax/invoice" class="nav-link">
                        <p>세금계산서</p>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</aside>
</body>
</html>