<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rootcore.fi.mapper.UnitPriceMapper">

	<select id="selectUnitPrice" resultType="com.rootcore.fi.vo.UnitPriceVO">
		SELECT upm.sku sku
		     , sku.sku_name skuName
		     , upm.cust_code custCode
		     , cst.cust_name custName
		     , upm.unit_price_type unitPriceType
		     , cod.code_name unitPriceTypeName
		     , upm.start_date startDate
		     , upm.unit_price unitPrice
		  FROM tb_unit_price_master upm
		  JOIN tb_sku_master sku
		    ON (upm.company_code = sku.company_code
		   AND upm.sku = sku.sku)
		  JOIN tb_cust_master cst
		    ON (upm.company_code = cst.company_code
		   AND upm.cust_code = cst.cust_code)
		  JOIN tb_cm_code cod
		    ON (upm.unit_price_type = cod.code
		   AND cod.group_code = 'UNIT_PRICE_TYPE')
		 WHERE 1=1
		<if test="sku != null and sku !='' ">
			AND upm.sku like '%' || #{sku} || '%'
		</if>
		<if test="skuName != null and skuName !='' ">
			AND sku.sku_name like '%'|| #{skuName} ||'%'
		</if>
		<if test="unitPriceType != null and unitPriceType !='' ">
			AND upm.unit_price_type = #{unitPriceType}
		</if>
		<if test="custCode != null and custCode !='' ">
			AND upm.cust_code like '%'|| #{custCode} || '%'
		</if>
		<if test="custName != null and custName !='' ">
			AND cst.cust_name like '%'|| #{custName} ||'%'		
		</if>
		 ORDER BY sku
	</select>

	<insert id="insertUnitPrice" parameterType="com.rootcore.fi.vo.UnitPriceVO">
		INSERT INTO tb_unit_price_master (
		    company_code
		    , sku
		    , cust_code
		    , unit_price_type
		    , start_date
		    , unit_price
		) VALUES (
		    #{companyCode}
		  , #{sku}
		  , #{custCode}
		  , #{unitPriceType}
		  , #{startDate}
		  , #{unitPrice}
		)
	</insert>
	
	<insert id="insertUnitPriceHistory" parameterType="com.rootcore.fi.vo.UnitPriceVO">
		INSERT INTO tb_unit_price_history (
			unit_price_seq
		    , company_code
		    , sku
		    , cust_code
		    , unit_price_type
		    , start_date
		    , unit_price
		) VALUES (
		  unit_price_seq.nextval
		  , #{companyCode}
		  , #{sku}
		  , #{custCode}
		  , #{unitPriceType}
		  , #{startDate}
		  , #{unitPrice}
		)
	</insert>
		
	<select id="checkUnitPrice">
		SELECT count(*) cnt
		  FROM tb_unit_price_master
		 WHERE company_code = #{companyCode}
		   AND sku = #{sku}
		   AND cust_code = #{custCode}
		   AND unit_price_type = #{unitPriceType}
	</select>
	
	<update id="updateUnitPrice" parameterType="com.rootcore.fi.vo.UnitPriceVO">
		UPDATE tb_unit_price_master
		   SET unit_price = #{unitPrice}
		     , start_date = #{startDate}
		     , updated_by = 'ADMIN'
		     , update_date = sysdate
		 WHERE company_code = #{companyCode}
		   AND sku = #{sku}
		   AND cust_code = #{custCode}
		   AND unit_price_type = #{unitPriceType}
	</update>
</mapper>