<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>사원 모달</title>

  <!-- general.css -->
  <link th:href="@{/css/general.css}" rel="stylesheet" />
  <link th:href="@{/css/hr/hrUser.css}" rel="stylesheet" />
  <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.min.css">
  <script src="https://uicdn.toast.com/grid/latest/tui-grid.min.js"></script>
</head>

<body th:fragment="userSearchModal">
  <!-- 사원 조회 모달 -->
  <div id="userSearchModal" class="modal-layer" hidden>
    <div class="modal-layer__backdrop"></div>

    <div class="modal-layer__dialog modal-layer__dialog--lg" style="width: 900px">

      <!-- 상단 헤더 -->
      <header class="modal-card__header">
        <h5 class="modal-card__title">사원 조회</h5>
        <button type="button" class="btn-icon modal-card__btn-close" id="btnClose">
          <i class="bi bi-x-lg"></i>
        </button>
      </header>

      <!-- 내용 -->
      <div class="modal-card__body">
        <!-- 검색 영역 -->
        <section class="card-ui card-ui--search" style="display: flex; height: 80px; margin-bottom: 5px;">
          <div class=" card-ui__body" style="flex: 1; display: flex; align-items: center; padding: 0 10px">
            <div class="filter-bar row g-4 align-items-center col-md-12">
              <!-- 성명 -->
              <div class="col-12 col-md-4">
                <div class="field-inline">
                  <label for="userName-search" class="field-inline__label">성명</label>
                  <input id="userName-search" type="text" class="form-control input-base" style="flex: 1; min-width: 0" />
                </div>
              </div>

              <!-- 사원번호 -->
              <div class="col-12 col-md-4">
                <div class="field-inline">
                  <label for="userId-search" class="field-inline__label">사원번호 </label>
                  <input id="userId-search" type="text" class="form-control input-base" style="flex: 1; min-width: 0" />
                </div>
              </div>

              <!-- 조회 버튼 -->
              <div class="col-12 col-md-4 ms-auto text-end">
                <button id="btnResetSearch" type="button" class="btn btn-white btn-inner">초기화</button>
                <button id="btnSearch" type="button" class="btn btn-color btn-inner">조회</button>
              </div>
            </div>
          </div>
        </section>

        <!-- 목록 (Toast UI Grid 영역) -->
        <div class="form_grid sub-grid mt-2">
          <div class="sub-grid__body">
            <div id="userGrid"></div>
          </div>
        </div>


      </div>

    </div>
  </div>

  <!-- 이 모달 전용 JS -->
  <script th:src="@{/js/modal/userSearchModal.js}"></script>
</body>

</html>