.button-updown-center {
    width: auto;
    height: 30px;
    margin: auto 10px;
}

.button-center {
    width: 50px;
    height: 27px;
    margin: auto;
}

.is-disabled {
    pointer-events: none;
    caret-color: transparent;
    background-color: #f6f6f6;
}

.form-grid__field_sd {
    border-right: 1px solid var(--mid-light-gray-color);
    align-items: stretch;
}

td.tui-grid-cell.tui-grid-cell-has-input.row-inactive {
    background-color: #ffecec;
}