.is-disabled {
    pointer-events: none;
    caret-color: transparent;
    background-color: #f6f6f6;
}

.card-ui__search {
    height: 60px;
}

.form-grid__row--4col {
    grid-template-columns: 1fr 1.2fr 1fr 1.2fr 1fr 1.2fr 1fr 1.1fr;
}

.tui-grid-cell.block {
    background-color: #f6f6f6;
}

.tui-grid-summary-area .tui-grid-cell {
    background-color: rgb(234, 234, 234);
    text-align: right;
}