<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>

<title>급여대장</title>

<!-- TOAST UI GRID -->
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

<!-- general.css -->
<link th:href="@{/css/general.css}" rel="stylesheet" />

<style>
/* 라디오 버튼 위치 조정 3개 */
.form-grid__field--wide {
	display: flex;
	align-items: center; /* 수직 중앙 정렬 */
}

.form-grid__field--wide .form-check-input {
	margin-right: 4px; /* 라디오와 글자 사이 여백 */
	margin-left: 6px; /* 맨 앞쪽 여백 */
}

.form-grid__field--wide label {
	margin-right: 12px; /* 라벨 사이 간격 */
	margin-bottom: 0; /* Bootstrap label baseline 보정 */
}
</style>
</head>

<body>
	<div layout:fragment="content" class="page page-fluid">
		<div class="row">
			<div class="col-lg-6 pe-0">
				<!-- ==================== 조회 ================================================================== -->
				<section class="card-ui card-ui--search" style="margin-top: 10px; display: flex;">
					<div class=" card-ui__body" style="flex: 1; display: flex; align-items: center; padding: 0 12px">
						<div class="filter-bar row g-4 align-items-center col-md-12">
							<div class="col-12 col-md-4">
								<div class="field-inline">
									<label for="payrollType" class="field-inline__label">급여구분</label> <select id="payrollType" class="form-select input-base" style="flex: 1; min-width: 0">
										<option value="">전체</option>
										<option th:each="p : ${payrollTypeList}" th:value="${p.payrollTypeCode}" th:text="${p.payrollTypeName}"></option>
									</select>
								</div>
							</div>

							<div class="col-12 col-md-4">
								<div class="field-inline">
									<label for="payrollName" class="field-inline__label">대장명칭</label> <input id="payrollName" type="text" class="form-control input-base" style="flex: 1; min-width: 0" />
								</div>
							</div>

							<!-- 초기화 조회 버튼 -->
							<div class="col-12 col-md-4 d-flex align-items-center justify-content-end gap-2">
								<button id="btnPayrollReset" type="button" class="btn btn-white btn-outer" style="flex-shrink: 0;">초기화</button>
								<button id="btnPayrollSearch" type="button" class="btn btn-color btn-outer" style="flex-shrink: 0;">조회</button>
							</div>

							<!-- 지급일 범위 -->
							<div class="col-12 col-md-8 mt-0">
								<div class="field-inline">
									<label for="payrollDate" class="field-inline__label">지급일</label>
									<!-- 범위 input -->
									<input id="payrollDateStartDate" type="date" class="form-control input-base" style="flex: 1; min-width: 0" />~<input id="payrollDateEndDate" type="date" class="form-control input-base" style="flex: 1; min-width: 0" />
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- ================= 목록(Grid) 섹션 ================= -->
				<section class="card-ui section-flex" style="margin-top: 10px">
					<header class="card-ui__header">
						<h6 class="card-ui__title">급여 대장 목록</h6>
					</header>
					<!-- 급여대장목록조회 -->
					<div id="payrollGrid" class="grid-root"></div>
				</section>
			</div>
			<div class="col-lg-6 ps-0">
				<section class="card-ui section-flex" style="margin-top: 10px">
					<header class="card-ui__header">
						<h6 class="card-ui__title">상여 등록</h6>
						<!-- 우측 액션 -->
						<div class="toolbar" id="chogihwa">
							<button id="btnReset" type="button" class="btn btn-white btn-inner ms-auto">초기화</button>
							<button id="btnSave" type="button" class="btn btn-color btn-inner ms-auto">저장</button>
						</div>
					</header>

					<div class="card-ui__body section-scroll">
						<div id="tab-basic" class="tab-panel active">
							<div class="form-grid form-grid--sub">
								<div class="form-grid__row">
									<div class="form-grid__label">귀속연월</div>
									<div class="form-grid__field form-grid__field--wide">
										<input id="payrollPeriod" name="payrollPeriod" type="month" class="form-control form-control-sm input-base" />
									</div>
								</div>
								<div class="form-grid__row">
									<div class="form-grid__label" style="white-space: nowrap">상여지급방법</div>
									<div class="form-grid__field form-grid__field--wide">
										<input class="form-check-input" type="radio" id="bonusRate" name="bonusType" checked value="rate"> <label for="bonusRate">지급률</label>
										<!--  -->
										<input class="form-check-input" type="radio" id="bonusAmount" name="bonusType" value="amount"> <label for="bonusAmount">지급액</label>
									</div>
								</div>
								<div class="form-grid__row">
									<div class="form-grid__label">지급률 및 지급액</div>
									<div class="form-grid__field form-grid__field--wide">
										<input type="number" id="bonus" name="bonus" class="form-control form-control-sm input-base text-end" />
									</div>
								</div>
								<div class="form-grid__row">
									<div class="form-grid__label">대장명칭</div>
									<div class="form-grid__field form-grid__field--wide">
										<input type="text" id="payrollBonusName" name="payrollBonusName" class="form-control form-control-sm input-base" />
									</div>
								</div>
								<div class="form-grid__row">
									<div class="form-grid__label">대장기간시작일</div>
									<div class="form-grid__field form-grid__field--wide">
										<input id="payrollStartDate" name="payrollStartDate" type="date" class="form-control form-control-sm input-base" />
									</div>
								</div>
								<div class="form-grid__row">
									<div class="form-grid__label">대장기간종료일</div>
									<div class="form-grid__field form-grid__field--wide">
										<input id="payrollEndDate" name="payrollEndDate" type="date" class="form-control form-control-sm input-base" />
									</div>
								</div>
								<div class="form-grid__row">
									<div class="form-grid__label">지급일</div>
									<div class="form-grid__field form-grid__field--wide">
										<input id="payrollBonusDate" name="payrollBonusDate" type="date" class="form-control form-control-sm input-base" />
									</div>
								</div>
								<div class="form-grid__row">
									<div class="form-grid__label">선택된 인원수</div>
									<div class="form-grid__field form-grid__field--wide">
										<input id="bonusPeopleNumber" name="bonusPeopleNumber" type="number" class="form-control form-control-sm input-base text-end" disabled />
									</div>
								</div>
							</div>
						</div>
					</div>
					<section class="card-ui card-ui--search">
						<div class="card-ui__body" style="flex: 1; display: flex; align-items: center; padding: 0 12px">
							<div class="filter-bar row g-4 align-items-center col-md-12">

								<div class="col-12 col-md-4">
									<div class="field-inline">
										<label for="payrollUserName" class="field-inline__label">성명</label> <input id="payrollUserName" type="text" class="form-control input-base" style="flex: 1; min-width: 0" />
									</div>
								</div>

								<div class="col-12 col-md-4">
									<div class="field-inline">
										<label for="payrollDeptName" class="field-inline__label">부서명</label> <input id="payrollDeptName" type="text" class="form-control input-base" style="flex: 1; min-width: 0" />
									</div>
								</div>

								<div class="col-12 col-md-4 d-flex align-items-center justify-content-end gap-2">
									<button id="btnEmpReset" type="button" class="btn btn-white btn-outer" style="flex-shrink: 0;">초기화</button>
									<button id="btnPayrollEmpSearch" type="button" class="btn btn-color btn-outer" style="flex-shrink: 0;">조회</button>
								</div>

								<div class="col-12 col-md-8 mt-0">
									<div class="field-inline">
										<label for="payrollDateEmp" class="field-inline__label">입사일범위</label> <input id="payrollEmpStartDate" type="date" class="form-control input-base" style="flex: 1; min-width: 0" /> ~ <input id="payrollEmpEndDate" type="date" class="form-control input-base" style="flex: 1; min-width: 0" />
									</div>
								</div>
							</div>
						</div>
					</section>
					<div id="userGrid" class="grid-root"></div>
				</section>
			</div>
		</div>

		<script th:src="@{/js/hr/payRoll.js}"></script>

	</div>
</body>
</html>