<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rootcore.hr.mapper.AnnualManageMapper">

	<!-- 사원연차신청이력조회 -->
	<select id="selectAnnualManageList" resultType="AnnualLeaveDetailVO" parameterType="AnnualLeaveDetailVO">
		SELECT ald.annual_leave_code, -- 연차관리코드
		       ald.annual_leave_detail_seq, -- 연차상세관리번호
		       al.user_id, -- 사번
		       um.user_name, -- 성명
		       dm.dept_name, -- 부서명
		       cmcj.code_name as job_title, -- 직위직급
		       cmcl.code_name as leave_type, -- 신청구분
		       ald.used_days, -- 사용일수
		       ald.leave_start_date as annualStartDate, -- 연차시작일
		       ald.leave_end_date as annualEndDate, -- 연차종료일
		       ald.leave_apply_date, -- 연차신청일
		       ald.rm -- 사유
		       
		FROM   tb_annual_leave_detail ald
		       JOIN tb_annual_leave al
		       ON al.annual_leave_code = ald.annual_leave_code
		       
		       JOIN tb_user_master um
		       ON um.user_id = al.user_id
		       
		       JOIN tb_dept_master dm
		       ON dm.dept_code = um.dept
		       
		       JOIN tb_cm_code cmcj
		       ON cmcj.code = um.job_title
		       
		       JOIN tb_cm_code cmcl
		       ON cmcl.code = ald.leave_type
		WHERE  1=1
		<if test="companyCode != null and companyCode != '' " >
          AND  ald.company_code = #{companyCode}
		</if>
		<if test="userId != null and userId != '' " >
          AND  al.user_id = #{userId}
		</if>
		<if test="annualStartDateSearch != null and annualStartDateSearch != '' " >
          AND  ald.leave_start_date >= TO_DATE(#{annualStartDateSearch}, 'YYYY-MM-DD')
		</if>
		<if test="annualStartEndSearch != null and annualStartEndSearch != '' " >
          AND  ald.leave_end_date &lt;= #{annualStartEndSearch}
		</if>
		<if test="leaveApplyStartDateSearch != null and leaveApplyStartDateSearch != '' " >
          AND  ald.leave_apply_date >= #{leaveApplyStartDateSearch}
		</if>
		<if test="leaveApplyEndDateSearch != null and leaveApplyEndDateSearch != '' " >
          AND  ald.leave_apply_date &lt;= #{leaveApplyEndDateSearch}
		</if>
	</select>
	
	<!-- 내연차현황 -->
	<select id="selectmyAnnualStatus" resultType="AnnualLeaveVO" parameterType="AnnualLeaveVO">
		SELECT al.annual_leave_code,
		       al.company_code,
		       al.user_id,
		       al.grant_year,
		       al.total_grant_days,
		       al.total_used_days,
		       al.remaining_days,
		       al.expiry_date,       
		       um.user_name,
		       dm.dept_name,
		       ccj.code_name as job_title
		FROM   tb_annual_leave al
		       JOIN tb_user_master um
		       ON um.user_id = al.user_id
		       JOIN tb_dept_master dm
		       ON dm.dept_code = um.dept
		       JOIN tb_cm_code ccj
		       ON ccj.code = um.job_title
		WHERE  1=1
		  AND  al.grant_year = TO_CHAR(sysdate, 'yyyy')
		<if test="userId != null and userId != '' ">
		  AND  al.user_id = #{userId}
		</if>
		<if test="companyCode != null and companyCode != '' " >
          AND  al.company_code = #{companyCode}
		</if>
	</select>
	
	<!-- 사원연차신청등록, 연차상세관리 테이블 insert -->
	<insert id="insertmyAnnualApply" parameterType="AnnualLeaveDetailVO">
		INSERT INTO tb_annual_leave_detail(annual_leave_detail_seq,
										   annual_leave_code,
		                                   company_code,
		                                   leave_type,
		                                   used_days,
		                                   leave_start_date,
		                                   leave_end_date,
		                                   rm)
		VALUES (seq_annual_leave_detail.NEXTVAL,
				(SELECT annual_leave_code
		         FROM   tb_annual_leave
		         WHERE  user_id = #{userId}
		         AND  grant_year = TO_CHAR(sysdate, 'yyyy')),
		         #{companyCode},
		         #{leaveType},
		         #{usedDays},
		         <choose>
		        	<when test="leaveType == 'b1'">
				        #{annualStartDate},
				        #{annualEndDate},
		            </when>
		            <when test="leaveType == 'b2'">
		                TO_DATE(#{annualStartDate} || ' 09:00:00', 'RRRR-MM-DD HH24:MI:SS'),
		                TO_DATE(#{annualStartDate} || ' 13:00:00', 'RRRR-MM-DD HH24:MI:SS'),
		            </when>
		            <when test="leaveType == 'b3'">
	                    TO_DATE(#{annualStartDate} || ' 14:00:00', 'RRRR-MM-DD HH24:MI:SS'),
	                    TO_DATE(#{annualStartDate} || ' 18:00:00', 'RRRR-MM-DD HH24:MI:SS'),
	                </when>
		          </choose>
		         #{rm})
	</insert>

	<!-- 연차관리테이블 update -->
	<update id="updateAnnualApply" parameterType="AnnualLeaveDetailVO">
        UPDATE tb_annual_leave
        SET    total_used_days = total_used_days + #{usedDays},
               remaining_days = remaining_days - #{usedDays}
        WHERE  user_id = #{userId}
          AND  grant_year = TO_CHAR(sysdate, 'yyyy')
    </update>
	
	<!-- 연차신청에 따른 근태기록테이블 insert -->    
    <insert id="insertAttendance" parameterType="AnnualLeaveDetailVO">
	    INSERT INTO tb_attendance (
	        company_code,
	        atten_code,
	        user_id,
	        work_date,
	        attend_type,
	        in_time,
	        out_time
	    ) VALUES (
	        #{companyCode},
	        fn_make_date_code('ATTEN'),
	        #{userId},
	        TO_DATE(#{annualStartDate}, 'YYYY-MM-DD'),
	        <choose>
	        	<when test="leaveType == 'b1'">
	                (SELECT a.code
		 			 FROM   tb_cm_code a
					       JOIN tb_cm_code b
					       ON a.code_name = b.code_name
					 WHERE  a.group_code = '0H'
					   AND  b.code = #{leaveType}
					   AND  a.code_name = b.code_name),
			        NULL,
	                NULL
	            </when>
	            <when test="leaveType == 'b2'">
	            	(SELECT a.code
 					 FROM   tb_cm_code a
					 JOIN   tb_cm_code b ON a.code_name = SUBSTR(b.code_name, 3)
					 WHERE  a.group_code = '0H'
					   AND  b.code = #{leaveType}),
	                TO_DATE(#{annualStartDate} || ' 09:00:00', 'RRRR-MM-DD HH24:MI:SS'),
	                TO_DATE(#{annualStartDate} || ' 13:00:00', 'RRRR-MM-DD HH24:MI:SS')
	            </when>
	            <when test="leaveType == 'b3'">
	            	(SELECT a.code
 					 FROM   tb_cm_code a
					 JOIN   tb_cm_code b ON a.code_name = SUBSTR(b.code_name, 3)
					 WHERE  a.group_code = '0H'
					   AND  b.code = #{leaveType}),
                    TO_DATE(#{annualStartDate} || ' 14:00:00', 'RRRR-MM-DD HH24:MI:SS'),
                    TO_DATE(#{annualStartDate} || ' 18:00:00', 'RRRR-MM-DD HH24:MI:SS')
                </when>
	        </choose>
	    )
</insert>
          
</mapper>