<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rootcore.hr.mapper.AttendanceMapper">

	<!-- 근태 Mapper -->
	
	<!-- 근태조회(월별)  -->
	<select id="seletMonthAttendance" resultType="AttendanceVO" parameterType="String">
		SELECT
		    att.company_code,
		    att.atten_code,
		    att.user_id,
		    att.work_date,
		    att.attend_type,
		    attendType.code_name AS attend_type_name,
		    att.created_by,
		    att.create_date,
		    att.updated_by,
		    att.update_date
		FROM   tb_attendance att
		JOIN   tb_cm_code attendType
		  ON   att.attend_type = attendType.code
		WHERE  work_date BETWEEN TO_DATE(#{month}, 'yyyy-MM')
		  AND  LAST_DAY(TO_DATE(#{month}, 'yyyy-MM')) 
		ORDER  BY work_date
	</select>
	
	<!-- attend_type=h5(연차)일시 로그인막기를 위한 조회 -->
	<select id="countAnnualLeaveToday" resultType="int">
		SELECT count(1)
		FROM tb_attendance
		WHERE user_id = #{userId}
		AND TRUNC(work_date) = TRUNC(SYSDATE)
		AND attend_type = 'h5'
	</select>
	
	<!-- 내 근태관리 ========================================================== -->
	<!-- 내 근태 전체조회 -->
	<select id="selectMyAttendanceAllList" resultType="AttendanceVO" parameterType="String">
		SELECT
		    att.company_code,
		    att.atten_code,
		    att.user_id,
		    att.work_date,
		    att.attend_type,
		    cm.code_name AS attend_type_name,
		    att.in_time,
		    att.out_time,
		    att.over_work_time,
		    att.night_work_time,
		    att.holiday_work_time,
		    att.total_work_time,
		    att.remark
		FROM tb_attendance att
		JOIN tb_cm_code cm
		ON att.attend_type = cm.code
		WHERE user_id = #{userId}
		ORDER BY att.work_date DESC
	</select>
	
	<!-- 검색 -->
	<select id="searchMyAttendanceList" resultType="AttendanceVO">
		SELECT
		    att.company_code,
		    att.atten_code,
		    att.user_id,
		    att.work_date,
		    att.attend_type,
		    cm.code_name AS attend_type_name,
		    att.in_time,
		    att.out_time,
		    att.over_work_time,
		    att.night_work_time,
		    att.holiday_work_time,
		    att.total_work_time,
		    att.remark
		FROM tb_attendance att
		JOIN tb_cm_code cm
		ON att.attend_type = cm.code
		<where>
			<if test="startDate != null and endDate != null">
				AND work_date BETWEEN TRUNC(#{startDate})
				                  AND TRUNC(#{endDate})
			</if>
			AND user_id = #{userId}
		</where>		
		ORDER BY att.work_date DESC 	
	</select>
	
	<!-- 오늘 근태상태 -->
	<select id="selectTodayMyAttendance" resultType="AttendanceVO" parameterType="String">
		SELECT 
		    att.company_code,
		    att.atten_code,
		    att.user_id,
		    att.work_date,
		    att.attend_type,
		    cm.code_name AS attend_type_name,
		    att.in_time,
		    att.out_time,
		    att.over_work_time,
		    att.night_work_time,
		    att.holiday_work_time,
		    att.total_work_time,
		    att.remark
		FROM tb_attendance att
		JOIN tb_cm_code cm
		ON att.attend_type = cm.code
		WHERE user_id = #{userId}
		AND att.work_date = TRUNC(SYSDATE)
	</select>
	
	<!-- 로그인시 자동출근 -->
	<insert id="insertTodayMyAtt" parameterType="AttendanceVO">
		<selectKey keyProperty="attenCode" order="BEFORE" resultType="String">
			SELECT fn_make_date_code('ATTENDANCE') 
			FROM dual
		</selectKey>
	
		INSERT INTO tb_attendance (
		    company_code,
		    atten_code,
		    user_id,
		    work_date,
		    attend_type,
		    in_time,
		    out_time,
		    over_work_time,
		    night_work_time,
		    holiday_work_time,
		    total_work_time,
		    remark,
		    created_by,
		    create_date,
		    work_place_type )
		VALUES (
		    #{companyCode},
		    #{attenCode},
		    #{userId},
		    TRUNC(SYSDATE),
		    #{attendType},             -- h1 / h2
		    SYSDATE,                   -- 출근시간
		    NULL,                      -- 퇴근 전이므로 null
		    0,                         -- 연장 0
		    0,                         -- 야간 0
		    0,                         -- 휴일 0
		    0,                         -- 총 근무시간 0 (퇴근 시 계산)
		    #{remark},
		    #{createdBy},
		    SYSDATE,
		    #{workPlaceType}
		)
	</insert>
	
	<!-- 퇴근 -->
	<update id="checkoutTodayMyAtt" parameterType="AttendanceVO">
		UPDATE tb_attendance
		SET
			out_time = SYSDATE,
			over_work_time = #{overWorkTime},
			night_work_time = #{nightWorkTime},
			total_work_time = #{totalWorkTime},
			updated_by = #{updatedBy},
			update_date = SYSDATE
		WHERE company_code = #{companyCode}
		AND   user_id = #{userId}	
		AND   work_date = TRUNC(SYSDATE)
		AND   in_time IS NOT NULL
		AND   out_time IS NULL
	</update>
	
	<!-- 근무형태 변경 -->
	<update id="updateTodayWorkPlaceType">
	    UPDATE tb_attendance
	    SET
	        work_place_type = #{workPlaceType},
	        updated_by      = #{updatedBy},
	        update_date     = SYSDATE
	    WHERE company_code = #{companyCode}
	    AND   user_id      = #{userId}
	    AND   work_date    = TRUNC(SYSDATE)
	    AND   in_time IS NOT NULL
	    AND   out_time IS NULL
	</update>
	
	

</mapper>