<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rootcore.hr.mapper.HrMapper">

	<!-- 장준현 -->
	<!-- 급여대장-조회 -->
	<select id="selectPayrollList" resultType="PayrollVO">
		SELECT payroll_period,
		       payroll_type,
		       payroll_name,
		       payroll_date,
		       COUNT(*) AS peopleNumber
		FROM   tb_payroll
		GROUP BY payroll_period, payroll_type, payroll_name, payroll_date
	</select>
	
	<!-- 급여대장-상여등록-사원조회 -->
	<select id="selectUserList" resultType="UserVO">
		SELECT user_id,
		       user_name,
		       dept,
		       hire_date,
		       job_title
		FROM   tb_user_master
	</select>
	
	
	
	<!-- hansol -->
	<!-- 사원 전체조회 -->
	<select id="selectAllUserList" resultType="UserVO">
		SELECT
		    company_code,
		    user_id,
		    user_name,
		    birth,
		    tel,
		    email,
		    hire_date,
		    hire_type,
		    leave_date,
		    leave_reason,
		    zip_code,
		    address,
		    dept,
		    job_title,
		    position,
		    family_count,
		    children_count,
		    householder,
		    bank_name,
		    account_no,
		    account_holder,
		    salary,
		    user_status,
		    user_photo,
		    user_file,
		    remark,
		    created_by,
		    create_date,
		    updated_by,
		    update_date
		FROM
		    tb_user_master
		ORDER BY
		    hire_date DESC
	</select>
	
	
	
	<!-- 이한솔 -->
	
			
	

</mapper>