<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rootcore.hr.mapper.HrReviewMapper">

	<!-- 인사평가-->

	<!-- 인사평가 기준관리 - 다건조회 -->
	<select id="selectHrReviewMasterALL" resultType="HrReviewMasterVO">
		SELECT 
		    company_code,
		    review_master_code,
		    review_master_name,
		    review_start_date,
		    review_end_date,
		    use_yn,
		    remark
		FROM  tb_hr_review_master
		ORDER BY review_start_date desc
	</select>

	<!-- 인사평가 기준관리 - 단건조회 -->
	<select id="selectHrReviewMaster" resultType="HrReviewMasterVO" parameterType="String">
		SELECT 
		    company_code,
		    review_master_code,
		    review_master_name,
		    review_start_date,
		    review_end_date,
		    use_yn,
		    remark
		FROM  tb_hr_review_master
		WHERE review_master_code = #{rmCode}
	</select>

	<!-- 인사평가 기준관리 - 평가항목 조회 -->
	<select id="selectEvalItem" resultType="EvalItemVO" parameterType="String">
       SELECT 
		    eval_seq,
		    company_code,
		    review_master_code,
		    eval_name,
		    eval_detail,
		    eval_weight
		FROM tb_eval_item
		WHERE review_master_code = #{rmCode}
	</select>

	<!-- 검색(템플릿명/날짜/사용유무) -->
	<select id="searchHrReview" resultType="HrReviewMasterVO" parameterType="HrReviewMasterVO">
		SELECT 
		    company_code,
		    review_master_code,
		    review_master_name,
		    review_start_date,
		    review_end_date,
		    use_yn,
		    remark
		FROM  tb_hr_review_master
		<where>
			<!-- 템플릿명 -->
			<if test="reviewMasterName != null and reviewMasterName != ''">
				AND review_master_name LIKE '%' || #{reviewMasterName} || '%'
			</if>
			<!-- 시작일~끝일 -->
			<if test="reviewStartDate != null and reviewEndDate != null">
			    AND review_start_date BETWEEN TRUNC(#{reviewStartDate})
			                              AND TRUNC(#{reviewEndDate})
			</if>
			<!-- 사용유무 -->
			<if test="useYnList != null and useYnList.size() > 0">
			    AND use_yn IN
			    <foreach collection="useYnList" item="yn" open="(" separator="," close=")">
			        #{yn}
			    </foreach>
			</if>
		</where>	
		ORDER BY review_start_date desc
	</select>

	<!-- 인사평가 기준관리 - 등록(상위) -->
	<insert id="insertReview" parameterType="HrReviewMasterVO">
		<selectKey keyProperty="reviewMasterCode" order="BEFORE" resultType="String">
			SELECT fn_make_date_code('REVIEW_MASTER') 
			FROM dual
		</selectKey>
		
		INSERT INTO tb_hr_review_master (
		    company_code,
		    review_master_code,
		    review_master_name,
		    review_start_date,
		    review_end_date,
		    use_yn,
		    remark,
		    created_by,
		    create_date)
		VALUES (
			#{companyCode}, 
			#{reviewMasterCode},
			#{reviewMasterName}, 
			#{reviewStartDate},
			#{reviewEndDate}, 
			#{useYn},
			#{remark}, 
			#{createdBy},
			SYSDATE)
	</insert>
	
	<!-- 인사평가 기준관리 - 등록(하위) -->
	<insert id="insertEvalItem" parameterType="EvalItemVO">
		<selectKey keyProperty="evalSeq" order="BEFORE" resultType="long">
			SELECT eval_seq.nextval
			FROM dual
		</selectKey>
		
		INSERT INTO tb_eval_item (
			eval_seq,
			company_code,
			review_master_code,
			eval_name,
			eval_detail,
			eval_weight,
			created_by,
			create_date)
		VALUES (
			#{evalSeq},
			#{companyCode},
			#{reviewMasterCode},
			#{evalName},
			#{evalDetail},
			#{evalWeight},
			#{createdBy},
			SYSDATE)
	</insert>
	
	<!-- 인사평가 기준관리 - 수정(상위) -->
	<update id="updateReview" parameterType="HrReviewMasterVO">
		UPDATE tb_hr_review_master 
		SET review_master_name = #{reviewMasterName},
		    review_start_date = #{reviewStartDate},
		    review_end_date = #{reviewEndDate},
		    use_yn = #{useYn},
		    remark = #{remark},
			updated_by = #{updatedBy},
			update_date = #{updateDate}
		WHERE review_master_code = #{reviewMasterCode} 
	</update>
	
	<!-- 인사평가 기준관리 - 수정을 위한 삭제(하위) -->
	<delete id="deleteEvalItem">
		DELETE FROM tb_eval_item
		WHERE review_master_code = #{reviewMasterCode}
		  AND company_code = #{companyCode}
	</delete>
	
	
	
	<!-- 인사평가관리 ============================================================================= -->
	<!-- 인사평가 관리- 기준관리 전체조회(Y만 검색) -->
	<select id="selectReviewOnlyY" resultType="HrReviewMasterVO">
		SELECT 
			company_code,
			review_master_code,
			review_master_name,
			review_start_date,
			review_end_date,
			use_yn,
			remark
		FROM tb_hr_review_master
		WHERE use_yn = 'Y'
	</select>
	
	<!-- 인사평가관리 - 기준관리 평가항목 -->	
	<select id="selectEvalItemByMcode" parameterType="String">
		SELECT 
		    eval_seq,
		    review_master_code,
		    eval_name,
		    eval_detail,
		    eval_weight
		FROM      tb_eval_item ei
		WHERE     review_master_code = #{reviewMasterCode}
	</select>	

	<!-- 인사평가관리 - 팀장별 부서 팀원수 계산 및 평가상태 계산 -->
	<!-- 1) 팀원 수(팀장 본인을 제외하고 가져오기) -->
	<select id="selectTeamCount">
		SELECT COUNT(*) AS total_member_cnt
		FROM tb_user_master u
		WHERE u.company_code = #{companyCode}
		  AND u.dept = (
		            SELECT dept
		            FROM tb_user_master
		            WHERE company_code = #{companyCode}
		            AND user_id = #{userId}
		  )
		  AND u.user_id <![CDATA[ <> ]]> #{userId}
		  AND u.user_status = 0
	</select>
	
	<!-- 2) 작성/완성된 reivew 갯수 -->
	<select id="selectReviewCount">
		SELECT 
		    m.company_code,
		    m.review_master_code,
		    m.review_master_name,
		    m.review_start_date,
		    m.review_end_date,
		    NVL(COUNT(r.review_code), 0) AS total_review_cnt,  
		    NVL(SUM(CASE WHEN r.review_status = '2' THEN 1 ELSE 0 END), 0) AS completed_cnt  
		FROM        tb_hr_review_master m
		LEFT JOIN   tb_hr_review r 
		       ON   r.company_code = m.company_code
		AND         r.review_master_code = m.review_master_code
		AND         r.rater_user_id = #{userId}
		WHERE       m.company_code = #{companyCode}
		AND         m.use_yn = 'Y'
		GROUP BY
		    m.company_code,
		    m.review_master_code,
		    m.review_master_name,
		    m.review_start_date,
		    m.review_end_date
		ORDER BY m.review_start_date DESC
	</select>
	
	<!-- 인사평가관리 - 팀원목록 -->
	<select id="selectTeamList" resultType="HrReviewVO">
		SELECT 
		    staff.user_id            AS target_user_id,
		    staff.user_name          AS target_user_name,
		    staff.dept               AS target_dept,
		    deptM.dept_name          AS target_dept_name,
		    staff.job_title          AS target_job_title,
		    --cm.code_name             AS target_job_title_name,
		    FN_FIND_CODENAME('0C', staff.job_title) AS target_job_title_name,
		    
		    r.review_code,
		    r.review_status,
		    r.final_score,
		    r.review_comment   
		     
		FROM tb_user_master manager
		JOIN tb_user_master staff
		  ON staff.company_code = manager.company_code
		 AND staff.dept = manager.dept
		 AND staff.user_id <![CDATA[ <> ]]> manager.user_id
		 AND staff.user_status = '0'
		 
		LEFT JOIN tb_hr_review r 
		  ON r.company_code = staff.company_code
		 AND r.review_master_code = #{reviewMasterCode}
		 AND r.rater_user_id = manager.user_id
		 AND r.target_user_id = staff.user_id
		 
		-- JOIN tb_cm_code cm
		-- ON staff.job_title = cm.code
		
		JOIN tb_dept_master deptM
		ON staff.dept = deptM.dept_code
		 
		WHERE manager.company_code = #{companyCode}
		 AND manager.user_id = #{raterUserId}
		 
		ORDER BY staff.user_name
	</select>
	
	
	<!-- 인사평가관리 - 등록(상위) -->
	<insert id="insertReviewItem" parameterType="HrReviewVO">
		<selectKey keyProperty="reviewCode" order="BEFORE" resultType="String">
			SELECT fn_make_date_code('REVIEW') 
			FROM dual
		</selectKey>
	
		INSERT INTO tb_hr_review (
		    review_code,
			rater_user_id,
			target_user_id,
			review_status,
			final_score,
			review_comment,
			created_by,
			create_date,
			company_code,
			review_master_code)
		VALUES (
		    #{reviewCode},
		    #{raterUserId},
		    #{targetUserId},
		    #{reviewStatus},
		    #{finalScore},
		    #{reviewComment},
		    #{createdBy},
		    SYSDATE,
		    #{companyCode},
		    #{reviewMasterCode}
		)
	</insert>
	
	<!-- 인사평가관리 - 등록(하위, 평가결과) -->
	<insert id="insertReviewResult" parameterType="HrReviewResultVO">
		<selectKey keyProperty="reviewResultSeq" order="BEFORE" resultType="long">
			SELECT review_result_seq.NEXTVAL
			FROM dual
		</selectKey>
	
		INSERT INTO tb_hr_review_result (
		    review_result_seq,
		    review_code,
		    eval_seq, 
		    eval_item_score,
		    created_by,
		    create_date)
		VALUES (
		    #{reviewResultSeq},
		    #{reviewCode},
		    #{evalSeq},
		    #{evalItemScore},
		    #{createdBy},
		    SYSDATE
		)
	</insert>
	
	<!-- 인사평가관리 - 상세조회(target_user_id값) 상위-->
	<select id="selectReviewResultHeaderByTargetUserId" resultType="HrReviewVO" parameterType="String">
		SELECT 
		    review_code,
			rater_user_id,
			target_user_id,
			review_status,
			final_score,
			review_comment,
			company_code,
			review_master_code
		FROM  tb_hr_review
		WHERE target_user_id = #{targetUserId}
		AND   review_code = #{reviewCode}
	</select>
	
	<!-- 인사평가관리 - 상세조회 -->
	<select id="selectReviewResultByTargetUserId" resultType="HrReviewResultVO">
		SELECT 
		    review_result_seq,
		    review_code,
		    eval_seq,
		    eval_item_score
		FROM tb_hr_review_result
		WHERE review_code = #{reviewCode}
	</select>
	
	<!-- 인사평가관리 - 수정(상위) -->
	<update id="updateReviewResultHeader" parameterType="HrReviewVO">
		UPDATE tb_hr_review
		SET 
			final_score = #{finalScore},
			review_comment = #{reviewComment},
			updated_by = #{updatedBy},
			update_date = SYSDATE
		WHERE target_user_id = #{targetUserId}
		AND   review_code    = #{reviewCode} 
	</update>
	
	<!-- 인사평가관리 - 수정(하위) -->
	<update id="updateReviewResult" parameterType="HrReviewResultVO">
		UPDATE tb_hr_review_result
		SET 
			eval_item_score = #{evalItemScore},
			updated_by = #{updatedBy},
			update_date = SYSDATE
		WHERE review_code = #{reviewCode}
		AND   eval_seq = #{evalSeq}
	</update>
	
	

</mapper>