<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rootcore.hr.mapper.PayrollMapper">
	
	<!-- 급여대장-상여등록-신고귀속코드-생성 -->
	<select id="selectNewPeriodCode" resultType="String">
	    SELECT fn_make_date_code('PAYROLL_PERIOD') FROM DUAL
	</select>
	
	<!-- 급여대장-상여등록 -->
	<insert id="insertBonusPayrollOne" parameterType="PayrollVO">
		INSERT INTO tb_payroll (
			payroll_code,
			company_code,
			user_id,
			payroll_period_code,
			payroll_period,
			payroll_type,
			bonus_method,
			bonus_rate,
			bonus_amount,
			payroll_name,
			payroll_start_date,
			payroll_end_date,
			payroll_date
		)
		VALUES (
			fn_make_date_code('PAYROLL'),
			#{companyCode},
			#{userId},
			#{payrollPeriodCode},
			#{payrollPeriod},
			'j2',
			#{bonusMethod}, 
			#{bonusRate},
			#{bonusAmount},
			#{payrollName},
			#{payrollStartDate},
			#{payrollEndDate},
			#{payrollDate}
		)
	</insert>

	<!-- 급여대장목록조회 -->
	<select id="selectPayrollList" resultType="PayrollVO">
		SELECT   pr.payroll_period,
		         cc.code_name AS payroll_type,
		         pr.payroll_name,
		         pr.payroll_date,
		         pr.payroll_period_code,
		         COUNT(*) AS peopleNumber,
		         SUM(upm.total_payment) AS totalPayment -- 지급총액
		FROM     tb_payroll pr
		         JOIN tb_cm_code cc
		         ON pr.payroll_type = cc.code
		         LEFT JOIN tb_user_pay_management upm
		         ON upm.payroll_code = pr.payroll_code
		WHERE    1=1		 
		  AND    pr.company_code = #{companyCode}
		<if test="payrollType != null and payrollType != '' ">
            AND pr.payroll_type = #{payrollType}
        </if>
		<if test="payrollName != null and payrollName != '' ">
			AND pr.payroll_name like '%' || #{payrollName} || '%'
		</if>
		<if test="paymentStartDate != null and paymentStartDate != '' ">
			AND pr.payroll_date >= TO_DATE(#{paymentStartDate} , 'YYYY-MM-DD')
		</if>
		<if test="paymentEndDate != null and paymentEndDate != '' ">
			AND pr.payroll_date &lt;= TO_DATE(#{paymentEndDate} , 'YYYY-MM-DD')
		</if>
		GROUP BY pr.payroll_period, 
		         cc.code_name,
		         pr.payroll_name, 
		         pr.payroll_date, 
		         pr.payroll_period_code
		ORDER BY payroll_period desc
	</select>

	<!-- 급여대장-상여등록-사원조회 -->
	<select id="selectUserList" resultType="PayrollUserVO" parameterType="PayrollUserVO">
		SELECT um.user_id,
		       um.user_name,
		       dm.dept_name AS dept
		FROM   tb_user_master um
		       JOIN tb_dept_master dm
		       ON um.dept = dm.dept_code
		WHERE  1=1
		  AND  um.company_code = #{companyCode}
		  AND  um.leave_date IS NULL
		<if test="userName != null and userName != '' ">
			AND um.user_name like '%' || #{userName} || '%'
		</if>
		<if test="dept != null and dept != '' ">
			AND um.dept like '%' || #{dept} || '%'
		</if>
		ORDER BY um.user_id
	</select>
		
	<!-- 계산하기누르면 모달창이 나타나면서 실행 -->
	<resultMap id="payrollResultMap" type="UserPayManageVO">
	    <result column="payroll_code"               property="payrollCode"/>
	    <result column="user_id"                    property="userId"/>
	    <result column="user_name"                  property="userName"/>
	    <result column="dept_name"                  property="deptName"/>
	    <result column="payroll_date"               property="payrollDate"/>
	    <result column="salary"                     property="salary"/>
	    <result column="bonus"                      property="bonus"/>
	    <result column="overtime"                   property="overtime"/>
	    <result column="night"                      property="night"/>
	    <result column="holiday"                    property="holiday"/>
	    <result column="family"                     property="family"/>
	    <result column="meal"                       property="meal"/>
	    <result column="total_allowance"            property="totalAllowance"/>
	    <result column="total_payment_amount"       property="totalPaymentAmount"/>
	    <result column="national_pension"           property="nationalPension"/>
	    <result column="employment_insurance"       property="employmentInsurance"/>
	    <result column="health_insurance"           property="healthInsurance"/>
	    <result column="long_time_care_insurance"   property="longTimeCareInsurance"/>
	    <result column="total_deduction_amount"     property="totalDeductionAmount"/>
	    <result column="net_pay"                    property="netPay"/>
	    <result column="absence"                    property="absence"/>
	    <result column="income_tax"                 property="incomeTax"/>
	    <result column="local_income_tax"           property="localIncomeTax"/>
	</resultMap>
	
	<select id="selectUserPayManageList" statementType="CALLABLE">
	    {call sp_calculate_payroll(
	        #{payrollPeriodCode, mode=IN, jdbcType=VARCHAR},
	        #{key, jdbcType=CURSOR, mode=OUT, javaType=java.sql.ResultSet, resultMap=payrollResultMap}
	    )}
	</select>

	<!-- 급여대장-계산하기모달창-확정버튼 -->
	<insert id="insertUserPay" parameterType="UserPayManageVO">
		INSERT INTO tb_user_pay_management (
		    user_pay_management_code,
		    payroll_code,
		    company_code,
		    user_id,
		    pay_period,
		    pay_date,
		    salary,
		    bonus,
		    overtime_allowance,
		    night_allowance,
		    holiday_allowance,
		    family_allowance,
		    meal_allowance,
		    total_allowance,
		    total_payment,
		    income_tax,
		    national_pension,
		    employment_insurance,
		    health_insurance,
		    long_time_care_insurance,
		    local_income_tax,
		    total_deduction,
		    net_pay,
		    absence
		) VALUES (
		    fn_make_date_code('USER_PAY_MANAGEMENT'),
		    #{payrollCode},
		    (SELECT company_code
		     FROM   tb_user_master
		     WHERE  user_id = #{userId}),
		    #{userId},
		    (SELECT payroll_period
		     FROM   tb_payroll
		     WHERE  payroll_code = #{payrollCode}),
		    #{payrollDate},
		    #{salary},
		    #{bonus},
		    #{overtime},
		    #{night},
		    #{holiday},
		    #{family},
		    #{meal},
		    #{totalAllowance},
		    #{totalPaymentAmount},
		    #{incomeTax},
		    #{nationalPension},
		    #{employmentInsurance},
		    #{healthInsurance},
		    #{longTimeCareInsurance},
		    #{localIncomeTax},
		    #{totalDeductionAmount},
		    #{netPay},
		    #{absence}
		)
	</insert>
	
	<!-- 급여대장-계산하기-급여관리모달창-확정버튼-이미 있는 데이터인지 확인하는 select -->
	<select id="checkUserPay" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM   tb_user_pay_management
        WHERE  payroll_code = #{payrollCode}
	</select>
	
	
</mapper>