<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rootcore.hr.mapper.PayrollManageMapper">

	<!-- 급여관리-급여 대장 목록 -->
	<select id="selectPayrollManageList" resultType="UserPayManageVO" parameterType="payrollManageSearchVO">
		SELECT upm.user_pay_management_code,
			   upm.payroll_code,
			   upm.company_code,
			   upm.pay_period,
			   upm.user_id,
			   um.user_name,
			   dm.dept_name,
			   upm.pay_date as payrollDate, 
			   upm.salary,
			   upm.bonus,
			   upm.overtime_allowance AS overtime,
			   upm.night_allowance AS night,
			   upm.holiday_allowance AS holiday,
			   upm.family_allowance AS family,
			   upm.meal_allowance AS meal,
			   upm.annual_leave_allowance AS annualLeave,
 			   upm.total_allowance AS totalAllowance,
 			   upm.total_payment AS totalPaymentAmount,
			   upm.income_tax as incomeTax,
			   upm.national_pension,
			   upm.employment_insurance,
			   upm.health_insurance,
			   upm.long_time_care_insurance,			   
			   upm.total_deduction AS totalDeductionAmount,
			   upm.net_pay
		FROM   tb_user_pay_management upm
			   JOIN tb_user_master um 
			   ON upm.user_id = um.user_id
			   JOIN tb_dept_master dm 
			   ON um.dept = dm.dept_code
		WHERE  1=1
		<if test="dept != null and dept != '' ">
            AND dm.dept_code like '%' || #{dept} || '%'
        </if>
        <if test="userName != null and userName != '' ">
            AND um.user_name like '%' || #{userName} || '%'
        </if>
        <if test="payPeriodStart != null and payPeriodStart != '' ">
            AND upm.pay_period >= #{payPeriodStart}
        </if>
        <if test="payPeriodEnd != null and payPeriodEnd != '' ">
            AND upm.pay_period &lt;= #{payPeriodEnd}
        </if>
	</select>
	
	<!-- 단건조회 -->
	<select id="selectPayrollManageDetail" resultType="UserPayManageDetailVO" parameterType="String">
		SELECT upm.user_pay_management_code,
		       um.user_name,
		       upm.user_id,
		       dm.dept_name,
		       cmc.code_name,
		       upm.salary,
		       upm.bonus,
		       upm.overtime_allowance,
		       upm.night_allowance,
		       upm.holiday_allowance,
		       upm.family_allowance,
		       upm.meal_allowance,
		       upm.annual_leave_allowance,
		       upm.total_payment,
		       upm.national_pension,
		       upm.employment_insurance,
		       upm.health_insurance,
		       upm.long_time_care_insurance,
		       upm.total_deduction,
		       upm.net_pay,
		       upm.payroll_code,
		       upm.company_code,
		       upm.pay_period
		FROM   tb_user_pay_management upm
		       JOIN tb_user_master um 
		       ON upm.user_id = um.user_id
		       JOIN tb_dept_master dm 
		       ON um.dept = dm.dept_code
		       JOIN tb_cm_code cmc
		       ON um.job_title = cmc.code
		WHERE  upm.user_pay_management_code = #{userPayManagementCode}
	</select>

</mapper>