<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8" />
<title>세금계산서 발행</title>

<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.min.css">
<script src="https://uicdn.toast.com/grid/latest/tui-grid.min.js"></script>
<link th:href="@{/css/general.css}" rel="stylesheet" />


</head>
<body>
<div layout:fragment="content">

<!-- 전체 카드 -->
<div class="container-fluid px-2" style="height: calc(100vh - 90px); margin-top:5px;">
  <div class="card h-100">

    <!-- =======================
         상단 버튼
    ======================== -->
    <div class="card-header d-flex align-items-center">
		<div th:replace="modal/inOrdModal :: inOrdModal"></div>
        <button class="btn btn-white btn-inner nowrap-btn" id="btnLoadOrder" style="width:150px;">수주 가져오기</button>
		<label style="margin-left:20px; color:red;">* 수주 입력 전 거래처를 먼저 선택 해 주세요 </label>
      <div class="ms-auto d-flex gap-2">
        <button class="btn btn-white btn-inner" id="btnAddRow">행추가</button>
        <button class="btn btn-white btn-inner" id="btnReset">초기화</button>
        <button class="btn btn-color btn-inner" id="btnSave">저장</button>
      </div>

    </div>


    <!-- =======================
         본문
    ======================== -->
    <div class="card-body section-scroll">

    <div class="input-group" style="height:40px;width:400px;margin:5px 0 20px 10px">
      <span class="input-group-text bg-light">발행일자</span>
      <input type="date" id="documentDate" class="form-control">
      <input type="text" id="invoiceNo" class="form-control" readonly>
    </div>
      <div class="row">
        <!-- ================= 공급자 ================= -->
        <div class="col-md-6">
          <h6 class="fw-bold mb-3" >공급자</h6>

          <table class="form-grid table-bordered" style="width:100%; border:1px;">
            <tbody>

              <tr>
                <th class="bg-light text-center" style="width:160px;">사업자등록번호</th>
                <td><input type="text" class="form-control input-base" id="frombno" style="background-color:#fafafa" readonly></td>
              </tr>

              <tr>
                <th class="bg-light text-center">거래처</th>
                <td>
                  <input type="text" class="form-control input-base" id="fromcompanyname" style="background-color:#fafafa" readonly>
                </td>
              </tr>

              <tr>
                <th class="bg-light text-center">성명</th>
                <td><input type="text" class="form-control input-base" id="frommanagername" style="background-color:#fafafa" readonly></td>
              </tr>

              <tr>
                <th class="bg-light text-center">주소</th>
                <td><input type="text" class="form-control input-base" id="fromcompanyaddress" style="background-color:#fafafa" readonly></td>
              </tr>

              <tr>
                <th class="bg-light text-center">업종</th>
                <td><input type="text" class="form-control input-base" id="fromindustrytype" style="background-color:#fafafa" readonly></td>
              </tr>

              <tr>
                <th class="bg-light text-center">업태</th>
                <td><input type="text" class="form-control input-base" id="frombusinesstype" style="background-color:#fafafa" readonly></td>
              </tr>

            </tbody>
          </table>
        </div>



        <!-- ================= 공급받는자 ================= -->
        <div class="col-md-6">
          <h6 class="fw-bold mb-3">공급받는자</h6>

          <table class="form-grid table-bordered" style="width:100%;border:1px;">
            <tbody>

              <tr>
                <th class="bg-light text-center" style="width:160px; ">사업자등록번호</th>
                <td><input type="text" class="form-control input-base" id="tobno"style="background-color:#fafafa" readonly></td>
              </tr>

              <tr>
                <th class="bg-light text-center">거래처</th>
                <td>
				  <div th:replace="modal/custModal :: custModal"></div>
                  <div class="input-group">
                    <input type="text" class="form-control input-base-icon" id="tocustname">
                    <button class="btn btn-icon" id="btnOpenCustModal"><i class="bi bi-search"></i></button>
                  </div>
                </td>
              </tr>

              <tr>
                <th class="bg-light text-center">성명</th>
                <td><input type="text" class="form-control input-base" id="toceoname" style="background-color:#fafafa" readonly></td>
              </tr>

              <tr>
                <th class="bg-light text-center">주소</th>
                <td><input type="text" class="form-control input-base" id="toaddress" style="background-color:#fafafa" readonly></td>
              </tr>

              <tr>
                <th class="bg-light text-center">업종</th>
                <td><input type="text" class="form-control input-base" id="tobitem" style="background-color:#fafafa" readonly></td>
              </tr>

              <tr>
                <th class="bg-light text-center">업태</th>
                <td><input type="text" class="form-control input-base" id="tobtype" style="background-color:#fafafa" readonly></td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>


		
		<!-- ================= 공급가액 / 세액 (table 적용) ================= -->
		<div class="row mt-3">
		
		  <div class="col-md-6">
		    <table class="form-grid table-bordered" style="width:100%;border:1px;">
		      <tbody>
		        <tr>
		          <th class="bg-light text-center" style="width:160px;">공급가액</th>
		          <td>
		            <input type="text" id="supplyAmount" class="form-control input-base" readonly>
		          </td>
		        </tr>
		      </tbody>
		    </table>
		  </div>
		
		  <div class="col-md-6">
		    <table class="form-grid table-bordered" style="width:100%;border:1px;">
		      <tbody>
		        <tr>
		          <th class="bg-light text-center" style="width:160px;">세액</th>
		          <td>
		            <input type="text" id="taxAmount" class="form-control input-base" readonly>
		          </td>
		        </tr>
		      </tbody>
		    </table>
		  </div>
		
		</div>




      <!-- ================= 출고내역 GRID ================= -->
      <div class="mt-3 px-0" style="height: calc(97vh - 550px); width: 100%;">
        <div id="invoice-grid" style="height:100%; width:100%;"></div>
      </div>
		<div th:replace="modal/skuModal :: skuModal"></div>
    </div>
  </div>
</div>

		<!-- 전역 토스트 알림 -->
		<div id="toastContainer" class="rc-toast"></div>

<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/fi/taxInvoice.js}"></script>

</div>
</body>
</html>
