<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8" />
<title>세금계산서 발행</title>

<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.min.css">
<script src="https://uicdn.toast.com/grid/latest/tui-grid.min.js"></script>
<link th:href="@{/css/general.css}" rel="stylesheet" />


</head>
<body>
<div layout:fragment="content">

<!-- 전체 카드 -->
<div class="container-fluid px-2" style="height: calc(100vh - 90px); margin-top:5px;">
  <div class="card h-100">

    <!-- =======================
         상단 버튼
    ======================== -->
    <div class="card-header d-flex align-items-center">

      <button class="btn btn-white btn-inner nowrap-btn" id="btnLoadOrder" style="width:150px;">수주 가져오기</button>

      <div class="ms-auto d-flex gap-2">
        <button class="btn btn-white btn-inner" id="btnReset">초기화</button>
        <button class="btn btn-color btn-inner" id="btnSave">저장</button>
      </div>

    </div>



    <!-- =======================
         본문
    ======================== -->
    <div class="card-body section-scroll">

      <div class="row">

        <!-- ================= 공급자 ================= -->
        <div class="col-md-6">
          <h6 class="fw-bold mb-2">공급자</h6>

          <table class="form-grid table-bordered" style="width:100%;">
            <tbody>

              <tr>
                <th class="bg-light text-center" style="width:160px;">사업자등록번호</th>
                <td><input type="text" class="form-control input-base"></td>
              </tr>

              <tr>
                <th class="bg-light text-center">상호</th>
                <td>
                  <input type="text" class="form-control input-base">
                </td>
              </tr>

              <tr>
                <th class="bg-light text-center">성명</th>
                <td><input type="text" class="form-control input-base"></td>
              </tr>

              <tr>
                <th class="bg-light text-center">주소</th>
                <td><input type="text" class="form-control input-base"></td>
              </tr>

              <tr>
                <th class="bg-light text-center">업종</th>
                <td><input type="text" class="form-control input-base"></td>
              </tr>

              <tr>
                <th class="bg-light text-center">업태</th>
                <td><input type="text" class="form-control input-base"></td>
              </tr>

            </tbody>
          </table>
        </div>



        <!-- ================= 공급받는자 ================= -->
        <div class="col-md-6">
          <h6 class="fw-bold mb-2">공급받는자</h6>

          <table class="form-grid table-bordered" style="width:100%;">
            <tbody>

              <tr>
                <th class="bg-light text-center" style="width:160px;">사업자등록번호</th>
                <td><input type="text" class="form-control input-base"></td>
              </tr>

              <tr>
                <th class="bg-light text-center">상호</th>
                <td>
                  <div class="input-group">
                    <input type="text" class="form-control input-base-icon">
                    <button class="btn btn-icon"><i class="bi bi-search"></i></button>
                  </div>
                </td>
              </tr>

              <tr>
                <th class="bg-light text-center">성명</th>
                <td><input type="text" class="form-control input-base" readonly></td>
              </tr>

              <tr>
                <th class="bg-light text-center">주소</th>
                <td><input type="text" class="form-control input-base" readonly></td>
              </tr>

              <tr>
                <th class="bg-light text-center">업종</th>
                <td><input type="text" class="form-control input-base" readonly></td>
              </tr>

              <tr>
                <th class="bg-light text-center">업태</th>
                <td><input type="text" class="form-control input-base" readonly></td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>



<!-- ================= 공급가액 / 세액 (table 적용) ================= -->
<div class="row mt-3">

  <div class="col-md-6">
    <table class="form-grid table-bordered" style="width:100%;">
      <tbody>
        <tr>
          <th class="bg-light text-center" style="width:160px;">공급가액</th>
          <td>
            <input type="text" id="supplyAmount" class="form-control input-base" readonly>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <table class="form-grid table-bordered" style="width:100%;">
      <tbody>
        <tr>
          <th class="bg-light text-center" style="width:160px;">세액</th>
          <td>
            <input type="text" id="taxAmount" class="form-control input-base" readonly>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>




      <!-- ================= 출고내역 GRID ================= -->
      <div class="mt-3 px-0" style="height: calc(100vh - 550px); width: 100%;">
        <div id="invoice-grid" style="height:100%; width:100%;"></div>
      </div>

    </div>
  </div>
</div>


<!-- GRID SCRIPT -->
<script>
  const grid = new tui.Grid({
    el: document.getElementById('invoice-grid'),
    scrollX: true,
    scrollY: true,
    bodyHeight: 'fitToParent',
    rowHeaders: ['rowNum'],

    data: [
      { 품번:'2025-HR-001', 품명:'AAA', 출고일자:'2025-01-02', 출고수량:10, 단가:500, 공급가액:5000, 세액:500 },
      { 품번:'2025-FI-001', 품명:'BBB', 출고일자:'2015-11-02', 출고수량:120, 단가:100, 공급가액:12000, 세액:1200 }
    ],

    columns: [
      { header:'품번', name:'품번', minWidth:150 },
      { header:'품명', name:'품명', minWidth:150 },
      { header:'출고일자', name:'출고일자', minWidth:140 },
      { header:'출고수량', name:'출고수량', minWidth:120, align:'right' },
      { header:'단가', name:'단가', minWidth:120, align:'right' },
      { header:'공급가액', name:'공급가액', minWidth:140, align:'right' },
      { header:'세액', name:'세액', minWidth:120, align:'right' }
    ]
  });
</script>

</div>
</body>
</html>
