<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rootcore.cm.mapper.SkuMapper">
    <!-- 수주 상품 조회 -->
    <select id="selectAllSku" resultType="SkuVO">
        SELECT  sku,
                sku_name,
                sku_type,
                spec,
                unit,
                remark,
                use_yn,
                tax_yn
        FROM tb_sku_master
    </select>

</mapper>