<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rootcore.sd.mapper.CustMapper">
    <!-- 거래처 전체 조회 -->
    <select id="selectCust"  resultType="CustVO">
        SELECT cust.company_code,
               cust.cust_code,
               cust.cust_name,
               cust.ceo_name,
               cust.bno,
               cust.btype,
               cust.bitem,
               cust.phone,
               cust.fax_no,
               cust.cust_email,
               cust.zonecode,
               cust.address,
               cust.address_detail,
               cmCode.code "custTypeCode",
               cmCode.code_name "cust_type",
               credit.credit_max,
               cust.dept,
               cust.user_name,
               cust.use_status,
               cust.created_by,
               cust.create_date,
               cust.updated_by,
               cust.update_date
        FROM tb_cust_master cust
        JOIN tb_cm_code cmCode
        ON cust.cust_type = cmcode.code
        LEFT JOIN tb_credit_master credit
        ON cust.company_code = credit.company_code
        AND cust.cust_code = credit.cust_code
        AND credit.credit_type = 'SELL_CREDIT'
        WHERE 1=1
        /* 목록조건 */
        <if test="custType == 'sales' ">
            AND cust.cust_type IN ('SALES_CUST', 'OUTSOURCING_CUST', 'INTERNAL_CUST')
        </if>
        <if test="custType == 'purchase' ">
            AND cust.cust_type IN ('PURCHASE_CUST', 'OUTSOURCING_CUST', 'INTERNAL_CUST')
        </if>

        /* 검색조건 */
        <if test="custCode != null and custCode != ''">
            AND cust.cust_code LIKE '%' || #{custCode} || '%'
        </if>
        <if test="custName != null and custName != ''">
            AND cust.cust_name LIKE '%' || #{custName} || '%'
        </if>
        <if test="custTypeCode != null and custTypeCode != ''">
            AND cmCode.code = #{custTypeCode}
        </if>
        <if test="includeStopped == null or includeStopped == false">
            AND cust.use_status = 'Y'
        </if>
        ORDER BY cust.use_status DESC, cust.cust_code DESC
    </select>

    <!-- 거래처 등록 -->
    <insert id="insertCust">
        INSERT INTO tb_cust_master (company_code,
                                    cust_code,
                                    cust_name,
                                    ceo_name,
                                    bno,
                                    btype,
                                    bitem,
                                    phone,
                                    fax_no,
                                    cust_email,
                                    zonecode,
                                    address,
                                    address_detail,
                                    cust_type,
                                    dept,
                                    user_name,
                                    use_status,
                                    created_by,
                                    create_date)
        VALUES (#{companyCode},
                FN_MAKE_CODE('CUST'),
                #{custName},
                #{ceoName},
                #{bno},
                #{bType},
                #{bItem},
                #{phone},
                #{faxNo},
                #{custEmail},
                #{zonecode},
                #{address},
                #{addressDetail},
                #{custType},
                #{dept},
                #{userName},
                #{useStatus},
                #{createdBy},
                SYSDATE)
    </insert>

    <!-- 거래처 수정 -->
    <update id="updateCustInfo">
        UPDATE tb_cust_master
        SET cust_name = #{custName},
            ceo_name = #{ceoName},
            bno = #{bno},
            btype = #{bType},
            bitem = #{bItem},
            phone = #{phone},
            fax_no = #{faxNo},
            cust_email = #{custEmail},
            zonecode = #{zonecode},
            address = #{address},
            address_detail = #{addressDetail},
            cust_type = #{custType},
            dept = #{dept},
            user_name = #{userName},
            use_status = #{useStatus},
            updated_by = #{updatedBy},
            update_date = SYSDATE
        WHERE cust_code = #{custCode}
    </update>


</mapper>