<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rootcore.sd.mapper.CustMapper">
    <!-- 거래처 전체 조회 -->
    <select id="selectCust"  resultType="CustVO">
        SELECT cust.company_code,
               cust.cust_code,
               cust.cust_name,
               cust.ceo_name,
               cust.bno,
               cust.btype,
               cust.bitem,
               cust.phone,
               cust.fax_no,
               cust.cust_email,
               cust.zonecode,
               cust.address,
               cust.address_detail,
               cmCode.code "custTypeCode",
               cmCode.code_name "cust_type",
               cust.dept,
               cust.user_name,
               cust.use_status,
               cust.created_by,
               cust.create_date,
               cust.updated_by,
               cust.update_date
        FROM tb_cust_master cust
        JOIN tb_cm_code cmCode
        ON cust.cust_type = cmcode.code
        <where>
            <if test="custName != null and custName != ''">
                AND cust.cust_name LIKE '%' || #{custName} || '%'
            </if>
            <if test="custType != null and custType != ''">
                AND cmCode.code = #{custType}
            </if>
            <if test="includeStopped == null or includeStopped == false">
                AND cust.use_status = 'Y'
            </if>
        </where>
        ORDER BY cust.use_status DESC, cust.cust_code DESC
    </select>

    <!-- 거래처 등록 -->
    <insert id="insertCust">
        INSERT INTO tb_cust_master (company_code,
                                    cust_code,
                                    cust_name,
                                    ceo_name,
                                    bno,
                                    btype,
                                    bitem,
                                    phone,
                                    fax_no,
                                    cust_email,
                                    zonecode,
                                    address,
                                    address_detail,
                                    cust_type,
                                    dept,
                                    user_name,
                                    use_status,
                                    created_by,
                                    create_date)
        VALUES ('SAMPLE_COMPANY',
                FN_MAKE_CUST_CODE,
                #{custName},
                #{ceoName},
                #{bno},
                #{bType},
                #{bItem},
                #{phone},
                #{faxNo},
                #{custEmail},
                #{zonecode},
                #{address},
                #{addressDetail},
                #{custType},
                #{dept},
                #{userName},
                #{useStatus},
                '박봉근',
                SYSDATE)
    </insert>

    <!-- 거래처 단건 조회 -->
    <select id="selectOneCust" resultType="CustVO">
        SELECT  company_code,
                cust_code,
                cust_name,
                ceo_name,
                bno,
                btype,
                bitem,
                phone,
                fax_no,
                cust_email,
                zonecode,
                address,
                address_detail,
                cust_type,
                dept,
                user_name,
                use_status,
                created_by,
                create_date,
                updated_by,
                update_date
        FROM tb_cust_master
        WHERE cust_code = #{custCode}
    </select>

    <!-- 거래처 수정 -->
    <update id="updateCustInfo">
        UPDATE tb_cust_master
        SET cust_name = #{custName},
            ceo_name = #{ceoName},
            bno = #{bno},
            btype = #{bType},
            bitem = #{bItem},
            phone = #{phone},
            fax_no = #{faxNo},
            cust_email = #{custEmail},
            zonecode = #{zonecode},
            address = #{address},
            address_detail = #{addressDetail},
            cust_type = #{custType},
            dept = #{dept},
            user_name = #{userName},
            use_status = #{useStatus},
            updated_by = '박수수',
            update_date = SYSDATE
        WHERE cust_code = #{custCode}
    </update>


</mapper>