<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rootcore.sd.mapper.InOrdMapper">

    <!-- 수주 등록 -->
    <insert id="insertInOrd" parameterType="InOrdVO">
        <selectKey keyProperty="inordNo" resultType="string" order="BEFORE">
            SELECT FN_MAKE_DATE_CODE('INORD') FROM DUAL
        </selectKey>

        INSERT INTO tb_inord (company_code,
                              inord_no,
                              inord_date,
                              due_date,
                              dept,
                              pic,
                              cust_code,
                              cust_name,
                              total_supply_price,
                              total_surtax,
                              total_price,
                              created_by,
                              create_date)
        VALUES ('0000',
                #{inordNo},
                #{inordDate},
                #{dueDate},
                #{dept},
                #{pic},
                #{custCode},
                #{custName},
                #{totalSupplyPrice},
                #{totalSurtax},
                #{totalPrice},
                '박봉근',
                SYSDATE)
    </insert>

    <!-- 수주 품목 등록 -->
    <insert id="insertInOrdDetail" parameterType="InOrdDetailVO">
        <selectKey keyProperty="inordDetailNo" resultType="string" order="BEFORE">
            SELECT FN_MAKE_DATE_CODE('INORD_DETAIL') FROM DUAL
        </selectKey>

        INSERT INTO tb_inord_detail (inord_detail_no,
                                     company_code,
                                     inord_no,
                                     sku,
                                     qty,
                                     unit_price,
                                     supply_price,
                                     surtax,
                                     price,
                                     remark,
                                     created_by,
                                     create_date)
        VALUES ( #{inordDetailNo},
                '0000',
                #{inordNo},
                #{sku},
                #{qty},
                #{unitPrice},
                #{supplyPrice},
                #{surtax},
                #{price},
                #{remark},
                '박봉근',
                SYSDATE)
    </insert>

    <select id="SelectInOrdList" resultType="InOrdVO">
        SELECT ior.company_code,
               ior.inord_no,
               ior.inord_date,
               ior.cust_code,
               ior.cust_name,
               ior.total_price,
               ior.output_status,
               cm_output.code_name "output_status_name"
        FROM tb_inord ior
        JOIN tb_cm_code cm_output
          ON ior.output_status = cm_output.code
         AND cm_output.group_code = '0L'
        ORDER BY ior.create_date DESC
    </select>

    <!-- 수주 세부 정보 불러오기 -->
	<select id="SelectInOrdDetailList" parameterType="InOrdDetailVO" resultType="InOrdDetailVO">
		SELECT ior.company_code
		     , ior.inord_no
		     , ior.inord_date
		     , ior.cust_code
		     , ior.cust_name
		     , iod.inord_detail_no
		     , iod.sku
		     , sku.sku_name
		     , iod.qty
		     , iod.unit_price
		     , nvl(iod.supply_price, 0) supply_price
		     , nvl(iod.surtax, 0) surtax
		     , nvl(iod.price, 0) price
		     , iod.output_status                            -- 출고여부
		     , cm_output.code_name "output_status_name"     -- 출고여부명
		     , iod.invoice_status                           -- 세금계산서발행여부
		     , cm_invoice.code_name "invoice_status_name"   -- 세금계산서발행여부명
		  FROM tb_inord ior
		  JOIN tb_inord_detail iod
		    ON ior.company_code = iod.company_code
		   AND ior.inord_no = iod.inord_no
		  JOIN tb_sku_master sku
		    ON iod.company_code = sku.company_code
		   AND iod.sku = sku.sku
		  JOIN tb_cm_code cm_output
            ON iod.output_status = cm_output.code
           AND cm_output.group_code = '0L'
          JOIN tb_cm_code cm_invoice
		    ON iod.invoice_status = cm_invoice.code
           AND cm_invoice.group_code = 'INVOICE_STATUS'
		 WHERE 1=1
         <if test="inordNo != null and inordNo != ''">
           AND iod.inord_no = #{inordNo}
         </if>
		 <if test="custCode != null and custCode != ''">
		   AND ior.cust_code LIKE '%' || #{custCode} || '%'
		 </if>
		 <if test="custName != null and custName != ''">
		   AND ior.cust_name LIKE '%' || #{custName} || '%'
		 </if>
		 <if test="sku != null and sku !='' ">
		   AND iod.sku like '%' || #{sku} || '%'
		 </if>
		 <if test="skuName != null and skuName !='' ">
		   AND sku.sku_name like '%'|| #{skuName} ||'%'
		 </if>
		 <if test="searchDiv == 'Modal'">
		   AND iod.invoice_status = '0'
		 </if>
		 <if test="searchDiv == 'Modal'">
		   AND iod.output_status != '0'
		 </if>
		   AND ior.inord_date = ior.inord_date
		   AND ior.inord_no = ior.inord_no
	</select>
	
	<update id="updateInordInvoice">
		UPDATE tb_inord_detail
		   SET invoice_status = '1'
		 WHERE inord_no = #{inordNo}
		   AND inord_detail_no = #{inordDetailNo}
	</update>
</mapper>