<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.sb.paymentmapper">
 <!-- 결제 생성 -->
    <insert id="insertPayment" parameterType="com.example.payment.vo.PaymentVO">
        INSERT INTO payments
        (order_id, payment_key, amount, member_id, status, created_at, updated_at)
        VALUES
        (#{orderId}, #{paymentKey}, #{amount}, #{memberId}, #{status}, NOW(), NOW());
    </insert>

    <!-- orderId로 검색 -->
    <select id="findByOrderId" parameterType="string" resultType="com.example.payment.vo.PaymentVO">
        SELECT *
        FROM payments
        WHERE order_id = #{orderId}
        LIMIT 1
    </select>

    <!-- 결제 상태 업데이트 -->
    <update id="updatePaymentStatus">
        UPDATE payments
        SET status = #{status},
            payment_key = #{paymentKey},
            updated_at = NOW()
        WHERE order_id = #{orderId}
    </update>
</mapper>