<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rootcore.sb.mapper.PaymentMapper">

	<insert id="insertPayment"
		parameterType="com.rootcore.sb.domain.Payment">
		<selectKey resultType="String" order="BEFORE"
			keyProperty="paymentCode">
			SELECT FN_MAKE_PAYMENT_CODE() FROM DUAL
		</selectKey>
		INSERT INTO TB_PAYMENT
		(
		PAYMENT_CODE,
		ORDER_ID,
		SUB_CODE,
		COMPANY_CODE,
		TOTAL_PRICE,
		PAYMENT_STAT,
		PAYMENT_METHOD,
		PAYMENT_DATE,
		CARD_COMPANY,
		PAYMENT_KEY,
		RECENT_PAYMENT,
		NEXT_PAYMENT,
		BILLING_START,
		BILLING_END,
		CREATED_BY,
		CREATE_DATE,
		UPDATED_BY,
		UPDATE_DATE
		)
		VALUES
		(
		#{paymentCode},
		#{orderId},
		#{subCode},
		#{companyCode},
		#{totalPrice},
		#{paymentStat},
		#{paymentMethod},
		#{paymentDate},
		#{cardCompany},
		#{paymentKey},
		#{recentPayment},
		#{nextPayment},
		#{billingStart},
		#{billingEnd},
		#{createdBy},
		#{createDate},
		#{updatedBy},
		#{updateDate}
		)
	</insert>

	<update id="updateOrderSubCode">
		UPDATE TB_PAYMENT_ORDER
		SET SUB_CODE = #{subCode},
		UPDATE_DATE = SYSDATE,
		UPDATED_BY = #{updatedBy}
		WHERE ORDER_ID =
		#{orderId}
	</update>
	<!-- 필요하면 조회 메서드도 추가 -->
</mapper>
