<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rootcore.sb.mapper.PaymentMapper">

	  <!-- 신규 구독 + 결제 동시 처리 프로시저 호출 -->
    <update id="callNewSubsAndPayment"
            parameterType="com.example.payment.dto.NewSubsPaymentRequest"
            statementType="CALLABLE">
        { call PRC_NEW_SUBS_AND_PAYMENT(
            #{companyName,    mode=IN, jdbcType=VARCHAR},
            #{ceoName,        mode=IN, jdbcType=VARCHAR},
            #{ceoPhone,       mode=IN, jdbcType=VARCHAR},
            #{companyEmail,   mode=IN, jdbcType=VARCHAR},
            #{industryType,   mode=IN, jdbcType=VARCHAR},
            #{businessType,   mode=IN, jdbcType=VARCHAR},
            #{managerName,    mode=IN, jdbcType=VARCHAR},
            #{employeeCount,  mode=IN, jdbcType=NUMERIC},
            #{bno,            mode=IN, jdbcType=VARCHAR},
            #{checkNo,        mode=IN, jdbcType=VARCHAR},
            #{companyAddress, mode=IN, jdbcType=VARCHAR},
            #{companyPhone,   mode=IN, jdbcType=VARCHAR},
            #{managerPhone,   mode=IN, jdbcType=VARCHAR},

            #{planCode,       mode=IN, jdbcType=VARCHAR},
            #{subsStart,      mode=IN, jdbcType=TIMESTAMP},
            #{subsEnd,        mode=IN, jdbcType=TIMESTAMP},

            #{totalPrice,     mode=IN, jdbcType=NUMERIC},
            #{paymentMethod,  mode=IN, jdbcType=VARCHAR},
            #{paymentKey,     mode=IN, jdbcType=VARCHAR},
            #{orderId,        mode=IN, jdbcType=VARCHAR},
            #{cardCompany,    mode=IN, jdbcType=VARCHAR}
        ) }
    </update>

    <!-- 기존 구독 결제만 처리 프로시저 -->
    <update id="callExistSubsPayment"
            parameterType="com.example.payment.dto.ExistSubsPaymentRequest"
            statementType="CALLABLE">
        { call PRC_EXIST_SUBS_PAYMENT(
            #{subCode,       mode=IN, jdbcType=VARCHAR},
            #{totalPrice,    mode=IN, jdbcType=NUMERIC},
            #{paymentMethod, mode=IN, jdbcType=VARCHAR},
            #{paymentKey,    mode=IN, jdbcType=VARCHAR},
            #{orderId,       mode=IN, jdbcType=VARCHAR},
            #{cardCompany,   mode=IN, jdbcType=VARCHAR}
        ) }
    </update>

	<update id="updateOrderSubCode">
		UPDATE TB_PAYMENT_ORDER
		SET SUB_CODE = #{subCode},
		UPDATE_DATE = SYSDATE,
		UPDATED_BY = #{updatedBy}
		WHERE ORDER_ID =
		#{orderId}
	</update>
	<!-- 필요하면 조회 메서드도 추가 -->
</mapper>
