<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rootcore.sb.mapper.SubscribeMapper">

	<!-- 구독 INSERT -->
	<insert id="insertSubscribe"
		parameterType="com.rootcore.sb.vo.SubscribeVO">
		<selectKey keyProperty="subCode" order="BEFORE" resultType="String">
		SELECT FN_MAKE_CODE('SUB') FROM DUAL
		</selectKey>
		INSERT INTO TB_SUBSCRIBE
		(
		SUB_CODE,
		COMPANY_CODE,
		SUBS_STATUS,
		SUBS_START,
		SUBS_END,
		CREATED_BY,
		CREATE_DATE,
		UPDATED_BY,
		UPDATE_DATE,
		PLAN_CODE,
		CONTRACT_CODE,
		BILLING_PERIOD,
		CURRENT_USER_COUNT,
		CURRENT_PRICE,
		NEXT_BILLING_DATE,
		RECENT_BILLING_DATE,
		BILLING_KEY
		)
		VALUES
		(
		#{subCode},
		#{companyCode},
		#{subsStatus},
		#{subsStart},
		#{subsEnd},
		#{createdBy},
		#{createDate},
		#{updatedBy},
		#{updateDate},
		#{planCode},
		#{contractCode},
		#{billingPeriod},
		#{currentUserCount},
		#{currentPrice},
		#{nextBillingDate},
		#{recentBillingDate},
		#{billingKey}
		)
	</insert>

	<!-- ✅ subCode로 구독 상세 조회 -->
	<select id="selectSubscribeBySubCode" parameterType="string"
		resultType="com.rootcore.sb.vo.SubscribeVO">
		SELECT
		sub_code,
		company_code,
		plan_code,
		contract_code,
		subs_status,
		subs_start,
		subs_end,
		billing_key,
		current_price,
		recent_billing_date,
		next_billing_date
		FROM TB_SUBSCRIBE
		WHERE sub_code =
		#{subCode}
	</select>

	<!-- ✅ 오늘 정기결제를 해야 하는 구독 목록 -->
	<select id="selectNeedBilling"
		parameterType="java.time.LocalDate"
		resultType="com.rootcore.sb.vo.SubscribeVO">
		SELECT
		sub_code,
		company_code,
		plan_code,
		contract_code,
		subs_status,
		subs_start,
		subs_end,
		billing_key,
		current_price,
		recent_billing_date,
		next_billing_date
		FROM TB_SUBSCRIBE
		WHERE subs_status = 'ACTIVE'
		AND
		billing_key IS NOT NULL          <!-- 빌링키 있는 애들만 -->
		AND next_billing_date = #{today}     <!-- 오늘이 청구일인 애들만 -->
	</select>

	<!-- ✅ 결제 후 청구일 갱신 -->
	<update id="updateBillingDates">
		UPDATE TB_SUBSCRIBE
		SET
		recent_billing_date =
		#{recentBillingDate},
		next_billing_date = #{nextBillingDate},
		update_date = NOW(),
		updated_by = 'SYSTEM'
		WHERE sub_code = #{subCode}
	</update>

	<!-- 구독 상태 업데이트 -->
	<update id="updateSubsStatus">
		UPDATE TB_SUBSCRIBE
		SET
		SUBS_STATUS = #{subsStatus},
		UPDATED_BY = #{updatedBy},
		UPDATE_DATE = SYSDATE
		WHERE SUB_CODE =
		#{subCode}
	</update>


	<update id="expireActiveSubscribe" parameterType="map">
		UPDATE
		TB_SUBSCRIBE
		SET SUBS_STATUS = 'EXPIRED',
		SUBS_END = #{endDate},
		UPDATED_BY = #{updatedBy},
		UPDATE_DATE = #{updateDate}
		WHERE
		COMPANY_CODE = #{companyCode}
		AND SUBS_STATUS = 'ACTIVE'
	</update>



</mapper>