/* 모달 안 폼 크기 (그림처럼 타이트하게) */
.small-form-bottom .form-label {
  font-size: 0.75rem;
  margin-bottom: 0;
  white-space: nowrap;
}

.small-form-bottom .form-control,
.small-form-bottom .form-select,
.small-form-bottom .btn {
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
  height: calc(1.5rem + 0.4rem);
}

/* 그리드 폰트 */
#custGrid .tui-grid-cell {
  font-size: 13px;
}
